__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/
venv/
.env
.env1
.env.*
.env *
!.env.example
.DS_Store
htmlcov/
.coverage
dist/
build/
/docs
/key
/logs
/scripts
/tests
*.log
*.pem
*.crt
*.key
/data
/.python-version
.idea/
.vscode/
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.local.yml
docker-compose.yml
pyproject.toml
requirements-flower.txt
requirements-dev.txt
run.md